<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
</head>
<body>
    <h1>Contact Us</h1>
    <form action="/"method="post">
    <label>Name</label><br>
    <input type="text" name="name"><br></br>

    <label>Email</label><br> 
    <input type="email" name="email"><br><br>

    <label>phone</label><br>
    <input type="text" name="phone"><br><br>

    <label>course</label><br>
    <input type="text" name="course"><br><br>

    <label>address</label><br>
    <input type="text" name="address"><br><br>

    <label>message</label><br>
    <input type="text" name="message"><br><br>

    <button type="submit">Submit</button>
       
    </form>
    
    <h2>student table</h2>
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th> 
            <th>email</th>          
            <th>phone</th>    
            <th>course</th>    
            <th>address</th>
            <th>message</th>  
             <th>action</th>         
        
        </tr>

        {% for row in data %}

        <tr>

        <td>{{row['id']}}</td>
        <td>{{row['name']}}</td>
        <td>{{row['email']}}</td>
        <td>{{row['phone']}}</td>    
        <td>{{row['course']}}</td>
        <td>{{row['address']}}</td>
        <td>{{row['message']}}</td>

        <td>
        <a href="/edit/{{row.id}}">Edit</a>
        <a href="/delete/{{row.id}}"onclick="return confirm('are you sure you want todelete this record?')">delete</a>
        <td>
        </tr>

        {%endfor%}

    </tabel>
</body>
</html>